



#eeeplus-theme-demo .bg-uciblue {
  background-color: #005993; }

#eeeplus-theme-demo .bg-royalblue {
  background-color: #007DCF; }

#eeeplus-theme-demo .bg-oceanblue {
  background-color: #3B8BC5; }

#eeeplus-theme-demo .bg-evergreen {
  background-color: #01796B; }

#eeeplus-theme-demo .bg-ucigold {
  background-color: #F1C120; }

#eeeplus-theme-demo .bg-yellow {
  background-color: #F5D158; }

#eeeplus-theme-demo .bg-valencia {
  background-color: #EF6C01; }

#eeeplus-theme-demo .bg-olive {
  background-color: #5D884B; }

#eeeplus-theme-demo .bg-red {
  background-color: #B81137; }

#eeeplus-theme-demo .bg-purple {
  background-color: #7B1FA2; }

#eeeplus-theme-demo .bg-sienna {
  background-color: #C96620; }

#eeeplus-theme-demo .bg-black {
  background-color: #000000; }

#eeeplus-theme-demo .bg-darkgrey {
  background-color: #333333; }

#eeeplus-theme-demo .bg-slate {
  background-color: #4F4F4F; }

#eeeplus-theme-demo .bg-stone {
  background-color: #828282; }

#eeeplus-theme-demo .bg-grey {
  background-color: #BDBDBD; }

#eeeplus-theme-demo .bg-lightgrey {
  background-color: #E0E0E0; }

#eeeplus-theme-demo .bg-smoke {
  background-color: #F2F2F2; }

#eeeplus-theme-demo .bg-snow {
  background-color: #F6F8FB; }

#eeeplus-theme-demo .bg-lightyellow {
  background-color: #FEFBF2; }

#eeeplus-theme-demo .bg-highlightyellow {
  background-color: #FFFFDD; }

#eeeplus-theme-demo .bg-assistants-blue {
  background-color: #3b8bc5; }

#eeeplus-theme-demo .bg-classmail-blue {
  background-color: #3b8bc5; }
