



#eeeplus-theme-demo .bg-uciblue {
  background-color: #007dcf; }

#eeeplus-theme-demo .bg-ucigold {
  background-color: #f1c11f; }

#eeeplus-theme-demo .bg-assistants-blue {
  background-color: #3b8bc5; }

#eeeplus-theme-demo .bg-classmail-blue {
  background-color: #3b8bc5; }
