/* Put button things in here */

.btn-primary, .btn-secondary, .btn-outline-primary {
  border: 2px solid $royalblue;
  text-transform: uppercase;
  &:hover {
    box-shadow: 0 3px 3px 1px #aaa;
    border-color: $uciblue;
  }
  &:disabled {
    opacity: 1;  // This overrides the default opacity since we don't want any transparency
    border-color: $cerulean;
    &:hover {
      box-shadow: none;
      cursor: default;
    }
    &:focus {
      box-shadow: none;  // This is so that if a user clicks on the disabled button, it won't be outlined
    }
  }
}

.btn-primary {
  background-color: $royalblue;
  &:hover {
    background-color: $uciblue;
  }
  &:disabled {
    background-color: $cerulean;
  }
}

.btn-secondary, .btn-outline-primary {
  background-color: white;
  color: $royalblue;
  &:hover {
    background-color: white;
    color: $uciblue;
  }
  &:disabled {
    background-color: white;
    color: $cerulean;
  }
}
