/* Put color variables in here */
$uciblue: #005993;
$royalblue: #007DCF;
$oceanblue: #3B8BC5;
$cerulean: #7FBDE6;
$evergreen: #01796B;
$ucigold: #F1C120;
$yellow: #F5D158;
$valencia: #EF6C01;
$olive: #5D884B;
$red: #B81137;
$purple: #7B1FA2;
$sienna: #C96620;
$black: #000000;
$darkgrey: #333333;
$slate: #4F4F4F;
$stone: #828282;
$grey: #BDBDBD;
$lightgrey: #E0E0E0;
$smoke: #F2F2F2;
$snow: #F6F8FB;
$lightyellow: #FEFBF2;
$highlightyellow: #FFFFDD;
$lightpurple: #F8F4FA;
