/* This is for the demo docs, don't really need to change much stuff here
 * unless adding new elements
 */

 @import 'colors.scss';
 @import 'tool-colors.scss';

 #eeeplus-theme-demo {
.bg-uciblue { background-color: $uciblue; }
.bg-royalblue { background-color: $royalblue; }
.bg-oceanblue { background-color: $oceanblue; }
.bg-cerulean { background-color: $cerulean; }
.bg-evergreen { background-color: $evergreen; }
.bg-ucigold { background-color: $ucigold; }
.bg-yellow { background-color: $yellow; }
.bg-valencia { background-color: $valencia; }
.bg-olive { background-color: $olive; }
.bg-red { background-color: $red; }
.bg-purple { background-color: $purple; }
.bg-sienna { background-color: $sienna; }
.bg-evergreen { background-color: $evergreen; }
.bg-lightyellow { background-color: $lightyellow; }
.bg-lightpeach { background-color: $lightpeach; }
.bg-lightpurple { background-color: $lightpurple; }
.bg-snow { background-color: $snow; }
.bg-greyblue { background-color: $greyblue; }
.bg-skyblue { background-color: $skyblue; }
.bg-kiwi { background-color: $kiwi; }
.bg-sherbert { background-color: $sherbert; }
.bg-grey { background-color: $grey; }
.bg-lightgrey { background-color: $lightgrey; }
.bg-smoke { background-color: $smoke; }
.bg-chalk { background-color: $chalk; }
.bg-black { background-color: $black; }
.bg-darkgrey { background-color: $darkgrey; }
.bg-slate { background-color: $slate; }
.bg-stone { background-color: $stone; }
.bg-highlightyellow { background-color: $highlightyellow; }
.bg-assistants-blue { background-color: $assistants-blue; }
.bg-classmail-blue { background-color: $classmail-blue; }
}
