#eee-global-navbar {
  display: none;
}

@media (min-width: 993px) {
  #eee-global-navbar {
    font-family: $font-family-sans-serif;
    background-color: #013F68; // dark blue shade not in style guide
    display: block;

    a {
      color: white;

      &:hover {
        cursor: pointer;
        color: white;
        text-decoration: none;
      }
    }

    .dropdown-menu {
      background-color: white;
      width: 280px;
      border-radius: 0px 10px 10px 10px;

      a {
        color: black;
      }

      h6 {
        margin-top: 7px;
        margin-bottom: 13px;
        font-size: 12px;
        font-family: $font-family-sans-serif;
      }

      .toolset-additional-links-section {
        display: flex;
        flex-wrap: wrap;
        padding-right: 15px;

        div {
          width: 50%;
          margin-bottom: 5px;

          a {
            font-size: $font-size-10;
            color: $royalblue;

            &:hover {
              color: $royalblue;
              text-decoration: underline;
            }
          }
        }
      }

      .toolset-links-section {
        display: flex;
        flex-wrap: wrap;

        a {
          font-size: $font-size-10;
          margin-right: 18px;
          margin-bottom: 8px;
          padding-top: 10px;
          padding-bottom: 12px;
          height: 80px;
          width: 70px;
          text-align: center;
          border: 2px solid $smoke;
          border-radius: 6px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

          &:hover {
            background-color: $lightyellow;
          }

          div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            margin-bottom: 0;

            span {
              line-height: normal;
            }
          }
        }

        // remove margin every 3rd tool link
        a:nth-of-type(3n + 3) {
          margin-right: 0;
        }
      }
    }
  }
}