/**
 * Fixed width buttons are restrictive and should be removed. This class bypasses the fixed width buttons until a
 * design overhaul is completed.
 *
 * This file was created in October 2021. If you still see this message and class in use in 2025, cry for humanity.
 */
.btn-flexible-width {
  width: auto !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
