// Background colors
.bg-blue-light {
  background-color: $smoke !important;
}

.bg-blue-darker {
  background-color: $uciblue !important;
}

.bg-orange-light {
  background-color: $snow !important;
}

.bg-sherbert {
  background-color: $sherbert !important;
}

.font-color-gray-smedium {
  color: $stone !important;
}

.font-weight-900 {
  font-weight: 900;
}

.font-weight-600 {
  font-weight: 600;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-12-mobile-10 {
  font-size: 12px;
  @media (max-width: 420px) {
    font-size: 10px;
  }
}

.font-size-16-mobile-12 {
  font-size: 16px;
  @media (max-width: 420px) {
    font-size: 12px;
  }
}

.font-size-10 {
  font-size: $font-size-10;
}

.font-size-18 {
  font-size: $font-size-18;
}

.color-white {
  color: white;
}

.font-size-14 {
  font-size: 0.875rem;
}

.font-size-16 {
  font-size: 1rem;
}

.font-size-24 {
  font-size: 1.5rem;
}

.color-sienna {
  color: $sienna;
}

.color-stone {
  color: $stone;
}

.color-lightpeach {
  color: $lightpeach
}

.color-pinkred {
  color: $pinkred;
}

.color-royalblue {
  color: $royalblue;
}

.color-skyblue {
  color: $skyblue;
}

.color-oceanblue {
  color: $oceanblue;
}

.color-lightgrey {
  color: $lightgrey;
}

.color-uciblue {
  color: $uciblue;
}

.color-cerulean {
  color: $cerulean;
}

.color-evergreen {
  color: $evergreen;
}

.color-ucigold {
  color: $ucigold;
}

.color-yellow {
  color: $yellow;
}

.color-valencia {
  color: $valencia;
}

.color-olive {
  color: $olive;
}

.color-red {
  color: $red;
}

.color-purple {
  color: $purple;
}

.color-lightyellow {
  color: $lightyellow;
}

.color-lightpeach {
  color: $lightpeach;
}

.color-lightpurple {
  color: $lightpurple;
}

.color-snow {
  color: $snow;
}

.color-greyblue {
  color: $greyblue;
}

.color-kiwi {
  color: $kiwi;
}

.color-sherbert {
  color: $sherbert;
}

.color-grey {
  color: $grey;
}

.color-smoke {
  color: $smoke;
}

.color-chalk {
  color: $chalk;
}

.color-black {
  color: $black;
}

.color-darkgrey {
  color: $darkgrey;
}

.color-highlightyellow {
  color: $highlightyellow;
}

.color-lightgreen {
  color: $lightgreen;
}

.dark-blue-border-top {
  border-top: 1rem solid $uciblue;
}

.light-blue-border-top {
  border-top: 1rem solid $oceanblue;
}

.purple-border-top {
  border-top: 1rem solid $purple;
}

.green-border-top {
  border-top: 1rem solid $evergreen;
}

.gray-border-top {
  border-top: 1rem solid $stone;
}

.bg-lightyellow {
  background-color: $lightyellow;
}