/* Tool specific colors */
$assistants-blue: rgba(59, 139, 197, 1);
$classmail-blue: rgba(59, 139, 197, 1);

// From Nexus orange-dim used for accessibility in announcements
$orange: rgba(201, 102, 32, 1);
$orange-light: rgba(249, 240, 235, 1);
$orange-dim: rgba(164, 74, 11, 1);

