/* Put typography things here */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,400i,700,900');

// Font config
$font-size-base: 0.82rem;

$font-family-sans-serif: "Lato";
$headings-font-family: "IBM Plex Sans";
$font-family-base: $font-family-sans-serif;